<header class="header margin-bottom-md ">
      <a href="#" class="main-nav-link" style="font-size: 3rem;">
        Fastfood
      </a>

      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#how">Manage account</a></li>
          <li><a class="main-nav-link" href="#meals">Meals</a></li>
          <li>
            <a class="main-nav-link" href="#testimonials">Login</a>
          </li>
          <li><a class="main-nav-link" href="#pricing">Register</a></li>
          <li><a class="main-nav-link nav-cta" href="#cta">Your Cart</a></li>
        </ul>
      </nav>

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
